examples/basic usage.json
[
    {
        "id": "example-comment",
        "type": "comment",
        "z": "example-flow",
        "name": "Modbus TCP Basic Usage",
        "info": "This flow demonstrates basic Modbus TCP operations:\n\n1. **Read Holding Registers** - Reads 10 registers starting from address 0\n2. **Write Single Register** - Writes value from inject node to register at address 0\n3. **Write Multiple Registers** - Writes array of values starting at address 100\n\nConfigure the modbus-client node with your Modbus server IP and port before deploying.",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "example-inject-read",
        "type": "inject",
        "z": "example-flow",
        "name": "Trigger Read",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [["example-read"]]
    },
    {
        "id": "example-read",
        "type": "aaqu-modbus-read",
        "z": "example-flow",
        "name": "Read 10 Holding Registers",
        "server": "example-server",
        "unitId": "1",
        "functionCode": "3",
        "address": "0",
        "quantity": "10",
        "x": 330,
        "y": 120,
        "wires": [["example-debug-read"]]
    },
    {
        "id": "example-debug-read",
        "type": "debug",
        "z": "example-flow",
        "name": "Read Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "example-inject-write",
        "type": "inject",
        "z": "example-flow",
        "name": "Write 1234",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1234",
        "payloadType": "num",
        "x": 100,
        "y": 200,
        "wires": [["example-write"]]
    },
    {
        "id": "example-write",
        "type": "aaqu-modbus-write",
        "z": "example-flow",
        "name": "Write Single Register",
        "server": "example-server",
        "unitId": "1",
        "functionCode": "6",
        "address": "0",
        "x": 320,
        "y": 200,
        "wires": [["example-debug-write"]]
    },
    {
        "id": "example-debug-write",
        "type": "debug",
        "z": "example-flow",
        "name": "Write Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "example-inject-write-multi",
        "type": "inject",
        "z": "example-flow",
        "name": "Write [100, 200, 300]",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[100, 200, 300]",
        "payloadType": "json",
        "x": 140,
        "y": 280,
        "wires": [["example-write-multi"]]
    },
    {
        "id": "example-write-multi",
        "type": "aaqu-modbus-write-multiple",
        "z": "example-flow",
        "name": "Write Multiple Registers",
        "server": "example-server",
        "unitId": "1",
        "functionCode": "16",
        "address": "100",
        "x": 380,
        "y": 280,
        "wires": [["example-debug-write-multi"]]
    },
    {
        "id": "example-debug-write-multi",
        "type": "debug",
        "z": "example-flow",
        "name": "Write Multi Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "example-server",
        "type": "aaqu-modbus-client",
        "name": "My Modbus Server",
        "host": "localhost",
        "port": "502",
        "timeout": "5000",
        "reconnect": true,
        "reconnectInterval": "5000"
    },
    {
        "id": "example-flow",
        "type": "tab",
        "label": "Modbus TCP Example",
        "disabled": false,
        "info": ""
    }
]
